<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Save #</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
            </dl>

 <div class="form-group"><form action="/update_user_plant/:id method="post" class="form-horizontal">
             <a href="/user_plants/index <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-warning">
                Update User Plant
              </button>
              or
              <a href="/user_plants/index">Cancel</a>
            </div>
          </div>
              <a href="/saves//edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>


              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
